<div ng-controller='NameController'>
        <div>
                <label>ตาราง</label>
                <div>
                    <input name="myInput" id="myInput" type="text" class="form-control" placeholder="ชื่อทีม">
                </div>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>League_slug</th>
                        <th>League Name</th>
                        <th>Nation</th>
                        <th>level</th>
                        <th>federation</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%=data[0].League_slug%></td>
                        <td><%=data[0].name%></td>
                        <td><%=data[0].Nation%></td>
                        <td><%=data[0].level%></td>
                        <td><%=data[0].federation%></td>
                      </tr>
                    
                     
                    </tbody>
                  </table>
        
       
</div>
